@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    color: white;
    display: grid;
    place-content: center;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.jsh {
    color: black;
    background-color: yellow;
    padding: 0.8rem;
    border-radius: 10px;
}

.titulo {
    font-size: 1rem;
}

.palabra {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

.teclado {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;

    transition: .5s all ease-in-out;
}

.fila {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

.letra {
    padding: 10px;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border: 1px solid rgb(153, 153, 153);

    transition: 0.2s ease-in;
    cursor: pointer;
}

button:hover {
    background-color: #c2c2c2;
    color: black;
}

#errores {
    color: rgb(255, 59, 59);
}

#wordToGuess {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

#wordToGuess > li {
    font-size: 3rem;
    margin: 0 0.5rem;
    text-decoration: underline;
    background-color: #00000000;
    border-bottom: 3px solid white;
    text-decoration: none;
}

.letra-correcta {
    color: green;
    background-color: greenyellow;
    cursor: default;
}

.letra-incorrecta {
    color: red;
    background-color: rgb(255, 117, 117);
    cursor: default;
}

.letra-incorrecta:hover {
    background-color: rgb(255, 117, 117);
    color: red;
}

.letra-correcta:hover {
    background-color: greenyellow;
    color: green;
}

.d-none {
    display: none;
}
